# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

bitwig-extensions.iml

/target/
/build/
/.idea
/.classpath
/.project
/${bitwig.extension.directory}/
/${bitwig.extension.directory}/Bitwig.bwextension
/.gradle/
/out
/bin/
/.settings/
.DS_Store
